.technologies {
  border-top: 1px solid hsl(0, 0%, 30%);
}

.wrapper {
  max-width: 768px;
  margin: 0 auto;
  /* border: solid; */
  padding: 2rem 1rem;

}

.technologies h2 {
  font-size: var(--fs-lg);
  font-weight: var(--fw-bold);
  text-align: center;
  margin-bottom: 2rem;
}

.technologiesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.technologiesContainer p {
  border: 1px solid hsl(0, 0%, 30%);
  border-radius: 1rem;
  padding: .5em 1em;
  font-size: 1rem;
  transition: all 0.3s;
  /* background-color: hsl(0, 0%, 10%); */
}

.technologiesContainer p:hover {
  transform: scale(1.15);
}

.technologiesContainer p:nth-child(3n):hover {
  background-color: #007BFF;
  color: #FFFFFF;
}

.technologiesContainer p:nth-child(3n + 1):hover {
  background-color: #32CD32;
  color: white;
}

.technologiesContainer p:nth-child(3n + 2):hover {
  background-color: #FF0080;
  color: #D3D3D3;
}
