.workAndEdu {
  max-width: 768px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.workAndEduButtonsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.workAndEduButtonsContainer > button {
  padding: .5em 1em;
  background-color: transparent;
  color: white;
  font-weight: var(--fw-bold);
  border: solid 1px hsl(0, 0%, 30%);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

